.clear{
    clear:both;
}

body {
    margin: 0px 0 0;
    background: #3B5998;
    /*font-family: 'Poiret One', cursive;
    font-family: 'Bad Script', cursive;
    font-family: 'Jura', sans-serif;*/
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-size: 18px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.4;
}
#topBar{
    height: 75px;
    display: block;
    margin: 0px 0px 20px 0px;
    background-color: #9F0002;
}
#error{
    background: #c48283;
    border: 1px solid #787878;
    color: #ffffff;
    padding: 6px;
    border-radius: 4px;
    text-align: center;
    font-style: italic;
}
#error-del{
    background: #c48283;
    border: 1px solid #787878;
    color: #ffffff;
    padding: 6px;
    border-radius: 4px;
    text-align: center;
    font-style: italic;
}
.bodyForm{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-shadow: 0 0 20px #000000;
    border-radius: 4px;
    background: #ffffff;
    margin-top: 10%;
}
#formCp{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
#cpanelLogo{
    width: 310px;
    height: 90px;
    background:url(/administrator/images/logo.png) no-repeat top, left;
    display: block;
    margin-bottom: 10px;
    background-size: 200px 80px, auto;
}
#exit{
    width: 26px;
    height: 26px;
    background:url(/administrator/images/shutdown.png) no-repeat top, left;
    float: right;
    background-size: 20px 20px, auto;
    margin: 25px 24px 24px 10px;

}
#divMenu{
    width: 600px;
    display: table-cell;
    vertical-align: bottom;
    height: 65px;
    padding-left: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#menu{
     color: #ffffff;
     /*border-bottom: 1px solid #ffffff;*/
     padding: 2px 5px 2px 5px;
     text-decoration: none;
     /*float: left;*/
    text-align: center;
     border-radius: 2px;
     font-weight: 400;
 }
#menu:hover{
    color: #ffffff;
    /*color: #9F0002;*/
    border-bottom: 1px solid #ffffff;
    /*background: #ffffff;*/
    padding: 1px 5px 1px 5px;
    text-decoration: none;
    /*float: left;*/


    border-radius: 2px;
    font-weight: 500;
}
#menuImg{
    width: 40px;
    margin-bottom: -5px;
    display:inline-block;
    vertical-align:middle;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#loginUser{
    color: #ffffff;
    float: right;
    margin: 20px 0px 14px 24px;
    border-bottom: 1px solid #ffffff;
}
.bodyInfo{
    background: #ffffff;
    padding: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    border: 1px solid #787878;
}
.tab_name{
    padding: 1px 10px 1px 10px;
    border: 1px solid #787878;
    margin-bottom: 2px;
    border-radius: 2px;
}
.tab_name:hover {
    padding: 1px 10px 1px 10px;
    border: 1px solid #787878;
    margin-bottom: 2px;
    box-shadow:1px 1px 1px rgba(0,0,0,0.75); /* Тень текста, чтобы приподнять его на немного */
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    background: #e5e5e5;
}
.show{
    display: block;
    width: 380px;
    max-height: 500px;
    padding: 1px 10px 1px 10px;
    border: 1px solid #787878;
    margin-bottom: 2px;
    box-shadow:1px 1px 1px rgba(0,0,0,0.75); /* Тень текста, чтобы приподнять его на немного */
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    background: #e5e5e5;
}


#buttonCp{
    margin-top: 10px;
    color: #b1b1b1;
    background: #9F0002;
    padding: 5px 20px 5px 20px;
    border-radius: 3px;
    border: 1px solid #787878;
    font-weight: 600;
}
#buttonCp:hover{
    margin-top: 10px;
    color: #9F0002;
    background: #b1b1b1;
    padding: 5px 20px 5px 20px;
    border-radius: 3px;
    border: 1px solid #9F0002;
    font-weight: 600;
}
p{
    font-size: 18px;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.4;

}
#logo{

    height: 130px;
    background:url(/images/logo.png) no-repeat top, left;
    display: block;
    margin: 20px 0px 0px 0px;
    float: left;
}






.mainMenu{
    display: table-cell;
    vertical-align: bottom;
    height: 75px;
    color: #BFBFBF;
    margin-left: auto;
    margin-right: auto;
}

.menu:hover{
    /*color: #9F0002;
    border-bottom: 3px solid #9F0002;
    margin-right: 8px;*/
}

#logoMenu{
    margin-bottom: 5px;
}

.topModule{
    max-width: 800px;
    width: 800px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 4%;
    font-size: 10px;
}
#topModule1{
     background-color: #787878;
     width: 240px;
     height: 110px;
     float: left;
     margin: 5px;
     color: #ffffff;
     padding: 5px;
}
#topModule2{
    background-color: #3B5998;
    width: 240px;
    height: 110px;
    float: left;
    margin: 5px;
    color: #ffffff;
    padding: 5px;
}
#topModule3{
    background-color: #9F0002;
    width: 240px;
    height: 110px;
    float: left;
    margin: 5px;
    color: #ffffff;
    padding: 5px;
}

#bottonModule{
    display: block;
    max-width: 988px;
    width: 100%;
    margin-bottom: 5px;
    font-size: 12px;
    border: 1px solid #AAAAAB;
    padding: 5px 10px 5px 10px;
}
#left{
    float: left;
    width: 17%;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid #AAAAAB;
}
#center{
    float: left;
    width: 60%;
    padding: 5px;
    border: 1px solid #AAAAAB;
    margin: 0px 5px 0px 5px;
}
#right{
    float: right;
    width: 17%;
    padding: 5px;
    border: 1px solid #AAAAAB;
}
#content{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
#logoFooter{
    width: 80px;
    height: 40px;
    background:url(/images/logo.png) no-repeat top, left;
    display: block;
    margin: 20px 0px 0px 0px;
    float: right;
    background-size: 80px 30px, auto;
    position:relative; left:5px; top:90px;
}
/***********************************************************************************************************************/
*          { margin: 0; padding: 0; }
a          { text-decoration: none; }
ul                  { list-style: none; }
#page-wrap		    { width: 500px; margin: 0 auto; }
#project-list {
    background:transparent url(/images/icon/graypixel.png) repeat-y scroll 15px 0;
    width: 87%;
}
#project-list li {
    font-size:18px;
    margin:15px 0 20px;
    padding:0 0 0 10px;
}
#project-list li a {
    background: rgb(239, 239, 239) none repeat scroll 0 0;
    color:#1F6DD9;
    display:block;
    border: 1px solid #9f9f9f;
    padding:3px;

}
#project-list li a:hover {
    color:#9F0002;
}
#project-list li ul li {
    background:transparent url(/images/icon/graypixel.png) repeat-x scroll 0 8px;
    font-size:18px;
    margin:4px 0 4px 5px;
    padding:0 0 0 6px;
}
#project-list li ul li a {
    padding:0 0 0 3px;
}
#project-list li ul li ul {
    background:transparent url(/images/icon/graypixel.png) repeat-y scroll 15px 0;
    margin-bottom:10px;
}
#project-list li ul li ul li {
    margin-left:16px;
    padding-left:10px;
}
.disabled_link {
    color: #999; /* цвет текста для нективной ссылки */
    padding-right: 15px;
}
/***********************************************************************************************************************/
/***************************** Стили для вертикальных и горизонтальных вкладок форм ************************************/
.section {
    width: 600px;
    background: #EFEFEF;
    margin: 0 0 30px;
}
ul.tabs {
    height: 28px;
    line-height: 25px;
    list-style: none;
    border-bottom: 1px solid #DDD;
    background: #FFF;
}
.tabs li {
    float: left;
    display: inline;
    margin: 0 1px -1px 0;
    padding: 0 13px 1px;
    color: #777;
    cursor: pointer;
    background: #F9F9F9;
    border: 1px solid #E4E4E4;
    border-bottom: 1px solid #F9F9F9;
    position: relative;
}
.tabs li:hover,
.vertical .tabs li:hover {
    color: #F70;
    padding: 0 13px;
    background: #FFFFDF;
    border: 1px solid #FFCA95;
}
.tabs li.current {
    color: #444;
    background: #EFEFEF;
    padding: 0 13px 2px;
    border: 1px solid #D4D4D4;
    border-bottom: 1px solid #EFEFEF;
}
.box {
    display: none;
    border: 1px solid #D4D4D4;
    border-width: 0 1px 1px;
    background: #EFEFEF;
    padding: 0 12px;
}
.box.visible {
    display: block;
}

.section.vertical {
    width: 440px;
    border-left: 160px solid #FFF;
}
.vertical .tabs {
    width: 160px;
    float: left;
    display: inline;
    margin: 0 0 0 -160px;
}
.vertical .tabs li {
    padding: 0 13px;
    margin: 0 0 1px;
    border: 1px solid #E4E4E4;
    border-right: 1px solid #F9F9F9;
    width: 132px;
    height: 25px;
}
.vertical .tabs li:hover {
    width: 131px;
}
.vertical .tabs li.current {
    width: 133px;
    color: #444;
    background: #EFEFEF;
    border: 1px solid #D4D4D4;
    border-right: 1px solid #EFEFEF;
    margin-right: -1px;
}
.vertical .box {
    border-width: 1px;
}
/***********************************************************************************************************************/
.close-icon{
    width: 23px;
    height: 23px;
    background: url(/images/icon/Recycle-Closed.png) no-repeat top;
    float: right;
    background-size: 23px 23px, auto;
    padding-left: 15px;
    margin:-28px -40px 0px 0px;
    cursor: pointer;
}
.close-icon:hover{
    width: 23px;
    height: 23px;
    background: url(/images/icon/Recycle-Open.png) no-repeat top;
    float: right;
    background-size: 23px 23px, auto;
    padding-left: 15px;
    margin:-28px -40px 0px 0px;
    cursor: pointer;
}
.edit-icon{
    width: 23px;
    height: 23px;
    background: url(/images/icon/Machine.png) no-repeat top;
    float: right;
    background-size: 23px 23px, auto;
    padding-left: 15px;
    margin:-28px -65px 0px 0px;
    cursor: pointer;
}
.button{
    padding: 3px 5px 3px 5px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-size: 16px;
    border: 1px solid #787878;
    border-radius: 3px;
    color: #ffffff;
    background: #3B5998;
}
.button:hover{
     padding: 3px 5px 3px 5px;
     font-family: 'Open Sans Condensed', sans-serif;
     font-style: normal;
     font-size: 16px;
     border: 1px solid #787878;
     border-radius: 3px;
     color: #FFFFFF;
     background: #9F0002;
 }
#addCat{
    max-width: 100%;
    border: 1px solid #787878;
    border-radius: 3px;
    padding: 3px;
}
#new_cat{
    background: #9F0002;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
}

.center{
    /*height: 500px; /* можно заменить на min-height */
    text-align: center;
}
.center  {
    height: 420px;
    width: 720px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #000000;
    padding: 10px 15px 25px 15px;
    border-radius: 55px;

}
.center:before { /* для IE8+ */
    content: "";
    /*display: inline-block;*/
    min-height: inherit;
    height: 100%;
    vertical-align: middle;
}
#pageTitle{
    text-align: center;
    text-transform: uppercase; /* Заглавные буквы */
    font-size: 2em;
    color: #4F81BD;
}
#foto{
    margin-bottom: 10px;
}
#old_vidpovid{
    height: 30px;
    background: #4F81BD;
    color: #ffffff;
    border: 2px solid #385D8A;
    padding: 5px 10px 5px 10px;
    float: left;
    width: 250px;
    border-radius: 5px;
    font-size: 1em;
}
#otstup{
    margin-bottom: 1px;
}
#submit{
    height: 30px;
    background: #4F81BD;
    color: #ffffff;
    border: 2px solid #385D8A;
    padding: 5px 10px 5px 10px;
    width: 250px;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 10px;
}
#goUser{
    width: 440px;
    float: right;
}
/*********************************** класс меню с большими иконками **************************************/
.info{
    max-width: 630px;
    width: 630px;
    padding-left: 5px;
}
.cpanel{
    float: left;
    padding: 0px 5px 0px 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}
#big-menu{
    padding: 5px;
    background: #4F81BD;
    width: 110px;
    height: 100px;
    text-align: center;
    border-radius: 3px;
}
#big-menu:hover{
    padding: 5px;
    background: #9F0002;
    box-shadow:4px 4px 10px rgba(0,0,0,0.75); /* Тень текста, чтобы приподнять его на немного */
    width: 110px;
    height: 100px;
    text-align: center;
    border-radius: 3px;
}
#menu-link{
    color: #C5C4C4;
}
#menu-link:hover{
    color: #C5C4C4;
}
#icon-big{
    width: 60px;
    height: 60px;
    background-size: 48px 48px, auto;
}
/*********************************************************************************************************/
/*********************************** Стили для выпадающего меню ******************************************/
/*#ddcat {*/
    /*display: block;*/
    /*width: 100%;*/
    /*margin: 0 auto;*/
    /*cursor: pointer;*/
    /*outline: none;*/
    /*color: #8aa8bd;*/
    /*text-decoration: none;*/

/*}*/

/*#ddcat li { display: block; position: relative; float: left; color: #BFBFBF;}*/

/*#ddmenu li a {*/
    /*display: block;*/
    /*float: left;*/
    /*padding: 0 12px;*/
    /*text-decoration: none;*/
    /*color: #BFBFBF;*/
    /*border-bottom: 2px solid #BFBFBF;*/
    /*-webkit-transition: all 0.2s linear;*/
    /*-moz-transition: all 0.2s linear;*/
    /*-o-transition: all 0.2s linear;*/
    /*transition: all 0.2s linear;*/
/*}*/
/*#ddmenu li:hover > a { color: #9F0002; border-bottom: 2px solid #9F0002;}*/

/*#ddmenu ul {*/
    /*position: absolute;*/
    /*top: 27px;*/
    /*width: 150px;*/
    /*background: #fff;*/
    /*display: none;*/
    /*margin: 0;*/
    /*padding: 10px 0px 10px 10px;*/
    /*list-style: none;*/
    /*border-radius: 1px;*/
    /*border: 1px solid rgba(0, 0, 0, 0.2);*/
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);*/
/*}*/

/* strela #ddmenu ul:after {*/
    /*content: "";*/
    /*width: 0;*/
    /*height: 0;*/
    /*position: absolute;*/
    /*bottom: 100%;*/
    /*left: 8px;*/
    /*border-width: 0 8px 8px 8px;*/
    /*border-style: solid;*/
    /*border-color: #fff transparent;*/
/*}*/

/*#ddmenu ul:before {*/
    /*content: "";*/
    /*width: 0;*/
    /*height: 0;*/
    /*position: absolute;*/
    /*bottom: 100%;*/
    /*left: 4px;*/
    /*border-width: 0 10px 10px 10px;*/
    /*border-style: solid;*/
    /*border-color: rgba(0, 0, 0, 0.1) transparent;*/
/*}*/


/*#ddmenu ul li {*/
    /*display: block;*/
    /*width: 100%;*/
    /*font-size: 0.9em;*/
    /*text-shadow: 1px 1px 0 #fff;*/
/*}*/

/*#ddmenu ul li a {*/
    /*display: block;*/
    /*width: 80%;*/
    /*padding: 5px;*/
    /*line-height: 1.4em;*/
    /*-webkit-transition: all 0.2s linear;*/
    /*-moz-transition: all 0.2s linear;*/
    /*-o-transition: all 0.2s linear;*/
    /*transition: all 0.2s linear;*/
/*}*/
/*#ddmenu ul li ul{*/
    /*position: absolute;*/
    /*top: 27px;*/
    /*width: 150px;*/
    /*background: #fff;*/
    /*display: none;*/
    /*margin: -25px 0px 0px 140px;*/
    /*padding: 10px 0px 10px 10px;*/
    /*list-style: none;*/
    /*border-radius: 3px;*/
    /*border: 1px solid rgba(0, 0, 0, 0.2);*/
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);*/
/*}*/
/*#ddmenu ul li li {*/
    /*display: block;*/
    /*width: 100%;*/
    /*font-size: 0.9em;*/
    /*text-shadow: 1px 1px 0 #fff;*/
/*}*/

/*#ddmenu ul li li a {*/
    /*display: block;*/
    /*width: 80%;*/
    /*padding: 5px;*/
    /*line-height: 1.4em;*/
    /*-webkit-transition: all 0.2s linear;*/
    /*-moz-transition: all 0.2s linear;*/
    /*-o-transition: all 0.2s linear;*/
    /*transition: all 0.2s linear;
}*/
/*********************************** Стили для выпадающего меню ******************************************/